body {
    font-family: 'Varela Round', sans-serif !important;
    background-image: url('../img/background.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-control {
    box-shadow: none;
    font-weight: normal;
    font-size: 13px;
}

    .form-control:focus {
        border-color: #33cabb;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
    }

.navbar {
    background: #fff;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #dfe3e8;
    border-radius: 0;
}

.nav img {
    border-radius: 50%;
    margin: 0px 5px;
    float: left;
}

.navbar .navbar-brand, .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
    padding-left: 0;
    font-size: 20px;
    padding-right: 50px;
}

    .navbar .navbar-brand b {
        font-weight: bold;
        color: #33cabb;
    }

.navbar .form-inline {
    display: inline-block;
}

.navbar .nav li {
    position: relative;
}

    .navbar .nav li a {
        color: #888;
    }

.search-box {
    position: relative;
}

    .search-box input {
        padding-right: 35px;
        border-color: #dfe3e8;
        border-radius: 4px !important;
        box-shadow: none
    }

    .search-box .input-group-addon {
        min-width: 35px;
        border: none;
        background: transparent;
        position: absolute;
        right: 0;
        z-index: 9;
        padding: 7px;
        height: 100%;
    }

    .search-box i {
        color: #a0a5b1;
        font-size: 19px;
    }
#signIn {
    border-radius: 4px;
}
.navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
    color: #fff;
    background: #33cabb;
    padding-top: 8px;
    padding-bottom: 6px;
    vertical-align: middle;
    border: none;
}

    .navbar .nav .btn-primary:hover, .navbar .nav .btn-primary:focus {
        color: #fff;
        outline: none;
        background: #31bfb1;
    }

.navbar .navbar-right li:first-child a {
    padding-right: 30px;
}

.navbar ul li i {
    font-size: 18px;
}

.navbar .dropdown-menu i {
    font-size: 16px;
    min-width: 22px;
}

.navbar ul.nav li.active a, .navbar ul.nav li.open > a {
    background: transparent !important;
}

.navbar .nav .get-started-btn {
    min-width: 120px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.navbar ul.nav li.open > a.get-started-btn {
    color: #fff;
    background: #31bfb1 !important;
}

.navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
}

.navbar .nav .dropdown-menu li {
    color: #999;
    font-weight: normal;
}

    .navbar .nav .dropdown-menu li a, .navbar .nav .dropdown-menu li a:hover, .navbar .nav .dropdown-menu li a:focus {
        padding: 8px 20px;
        line-height: normal;
    }

.navbar .navbar-form {
    border: none;
}

.navbar .dropdown-menu.form-wrapper {
    width: 280px;
    padding: 20px;
    left: auto;
    right: 0;
    font-size: 14px;
}

    .navbar .dropdown-menu.form-wrapper a {
        color: #33cabb;
        padding: 0 !important;
    }

        .navbar .dropdown-menu.form-wrapper a:hover {
            text-decoration: underline;
        }

.navbar .form-wrapper .hint-text {
    text-align: center;
    margin-bottom: 15px;
    font-size: 13px;
}

.navbar .form-wrapper .social-btn .btn, .navbar .form-wrapper .social-btn .btn:hover {
    color: #fff;
    margin: 0;
    padding: 0 !important;
    font-size: 13px;
    border: none;
    transition: all 0.4s;
    text-align: center;
    line-height: 34px;
    width: 47%;
    text-decoration: none;
}

.navbar .social-btn .btn-primary {
    background: #507cc0;
}

    .navbar .social-btn .btn-primary:hover {
        background: #4676bd;
    }

.navbar .social-btn .btn-info {
    background: #64ccf1;
}

    .navbar .social-btn .btn-info:hover {
        background: #4ec7ef;
    }

.navbar .social-btn .btn i {
    margin-right: 5px;
    font-size: 16px;
    position: relative;
    top: 2px;
}

.navbar .form-wrapper .form-footer {
    text-align: center;
    padding-top: 10px;
    font-size: 13px;
}

    .navbar .form-wrapper .form-footer a:hover {
        text-decoration: underline;
    }

.navbar .form-wrapper .checkbox-inline input {
    margin-top: 3px;
}

.or-seperator {
    margin-top: 32px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}

    .or-seperator b {
        color: #666;
        padding: 0 8px;
        width: 30px;
        height: 30px;
        font-size: 13px;
        text-align: center;
        line-height: 26px;
        background: #fff;
        display: inline-block;
        border: 1px solid #e0e0e0;
        border-radius: 50%;
        position: relative;
        top: -15px;
        z-index: 1;
    }

.navbar .checkbox-inline {
    font-size: 13px;
}

.navbar .navbar-right .dropdown-toggle:after {
    display: none;
}

@media (min-width: 1200px) {
    .form-inline .input-group {
        width: 300px;
        margin-left: 30px;
    }
}

@media (max-width: 768px) {
    .navbar .dropdown-menu.form-wrapper {
        width: 100%;
        padding: 10px 15px;
        background: transparent;
        border: none;
    }

    .navbar .form-inline {
        display: block;
    }

    .navbar .input-group {
        width: 100%;
    }

    .navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
        display: block;
        border-radius: 4px;
    }
}
li > a:hover,
li > a:focus {
    color: #31bfb1 !important;
}
#signIn:hover,
#signIn:focus {
    color: #ffffff !important;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

/***** Footer *****/

.footer-top {
    padding: 20px 0 40px 0;
    text-align: left;
    padding-left: 70px;
}

    .footer-top h3 {
        padding-bottom: 10px;
    }

.footer-contact p {
    word-wrap: break-word;
}

.footer-contact i {
    padding-right: 10px;
    font-size: 18px;
    color: #ddd;
}

.footer-contact p a {
    border-bottom: 1px dashed #ccc;
}

.footer-links a {
    color: #888;
    border: 0;
}

    .footer-links a:hover, .footer-links a:focus {
        color: #555;
        margin-left: 3px;
    }

.footer-bottom {
    padding: 0 0 30px 0;
    
}

.footer-social a {
    margin: 0 10px;
    color: #bbb;
    border: 0;
}

    .footer-social a:hover, .footer-social a:focus {
        color: #31bfb1;
        border: 0;
    }
.container {
    margin-bottom: 25px;
}
.footer-social i {
    font-size: 24px;
    vertical-align: middle;
}
.navbar-footer {
    margin-bottom: 0px !important;
}

.section {
    position: relative;
    height: 100vh;
}

    .section .section-center {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

#booking {
    font-family: 'Montserrat', sans-serif;
   
    background-size: cover;
    background-position: center;
    font-weight: 100;
}

.booking-form {
    background: #fff;
    padding: 30px 20px 0px;
    border-radius: 4px;
    overflow: auto;
}

    .booking-form .form-group {
        position: relative;
        margin-bottom: 30px;
    }

    .booking-form .form-control {
        border: none;
        height: 50px;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: 12px;
        color: #090a0b;
        font-weight: 300;
        background: #f2f1f1;
        border-radius: 4px;
    }

        .booking-form .form-control::-webkit-input-placeholder {
            color: #b1b6bd;
        }

        .booking-form .form-control:-ms-input-placeholder {
            color: #b1b6bd;
        }

        .booking-form .form-control::placeholder {
            color: #b1b6bd;
        }

    .booking-form input[type="date"].form-control:invalid {
        color: #b1b6bd;
    }

    .booking-form select.form-control {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

        .booking-form select.form-control + .select-arrow {
            position: absolute;
            right: 0px;
            top: 0px;
            width: 24px;
            text-align: center;
            pointer-events: none;
            height: 65px;
            line-height: 65px;
            color: #b1b6bd;
            font-size: 14px;
        }

            .booking-form select.form-control + .select-arrow:after {
                content: '\279C';
                display: block;
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
            }

    .booking-form .form-label {
        color: #31bfb1;
        display: block;
        font-weight: 600;
        height: 25px;
        line-height: 25px;
        font-size: 13px;
        position: relative;
        margin-top: 10px;
        text-transform: uppercase;
    }

        .booking-form .form-label:after {
            content: '';
            position: absolute;
            left: 10px;
            top: -10px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: #f2f1f1 transparent transparent transparent;
        }

    .booking-form .form-btn {
        margin-bottom: 30px;
    }

    .booking-form .submit-btn {
        background: #31bfb1;
        border: none;
        font-weight: 600;
        text-transform: uppercase;
        height: 50px;
        font-size: 13px;
        width: 100%;
        color: #fff;
        border-radius: 4px;
        display: block;
    }
.submit-btn:hover {
            background-color: #c66995;
        }

.card-img-top {
    max-height: 200px;
    min-height: 150px;
    object-fit: cover;
}


/* Card Styles */

.card {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page-link {
    color: #31bfb1;
}
.page-item.active .page-link {
    background-color: #31bfb1;
    border-color: #31bfb1;
    color: white;
}
.page-link:focus {
    box-shadow: none;
}

.btn-primary:active, .btn-primary:focus {
    background-color: #31bfb1 !important;
    border-color: #31bfb1 !important;
}
.price {
    color:#666666;
}
h1 {
    font-family: 'Great Vibes', cursive;
    color: #31bfb1;
    font-size: 80px;
    text-shadow: 2px 2px 0px rgb(85 85 85);
}

h2 {
    font-family: 'Great Vibes', cursive;
    color: #31bfb1;
    font-size: 50px;
    text-shadow: 2px 2px 0px rgb(85 85 85);
}