body {
    /*    font-family: 'Varela Round', sans-serif !important;
    background-image: url('../img/background.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: #f5f5f5
}

.form-control {
    box-shadow: none;
    font-weight: normal;
    font-size: 13px;
}

    .form-control:focus {
        border-color: #33cabb;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
    }

.navbar {
    background: #fff;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #dfe3e8;
    border-radius: 0;
}

.nav img {
    border-radius: 50%;
    margin: 0px 5px;
    float: left;
}

.navbar .navbar-brand, .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
    padding-left: 0;
    font-size: 20px;
    padding-right: 50px;
}

    .navbar .navbar-brand b {
        font-weight: bold;
        color: #33cabb;
    }

.navbar .form-inline {
    display: inline-block;
}

.navbar .nav li {
    position: relative;
}

    .navbar .nav li a {
        color: #888;
    }

.search-box {
    position: relative;
}

    .search-box input {
        padding-right: 35px;
        border-color: #dfe3e8;
        border-radius: 4px !important;
        box-shadow: none
    }

    .search-box .input-group-addon {
        min-width: 35px;
        border: none;
        background: transparent;
        position: absolute;
        right: 0;
        padding: 7px;
        height: 100%;
    }

    .search-box i {
        color: #a0a5b1;
        font-size: 19px;
    }
#signIn {
    border-radius: 4px;
}
.navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
    color: #fff;
    background: #33cabb;
    padding-top: 8px;
    padding-bottom: 6px;
    vertical-align: middle;
    border: none;
}

    .navbar .nav .btn-primary:hover, .navbar .nav .btn-primary:focus {
        color: #fff;
        outline: none;
        background: #31bfb1;
    }

.navbar .navbar-right li:first-child a {
    padding-right: 30px;
}

.navbar ul li i {
    font-size: 18px;
}

.navbar .dropdown-menu i {
    font-size: 16px;
    min-width: 22px;
}

.navbar ul.nav li.active a, .navbar ul.nav li.open > a {
    background: transparent !important;
}

.navbar .nav .get-started-btn {
    min-width: 120px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.navbar ul.nav li.open > a.get-started-btn {
    color: #fff;
    background: #31bfb1 !important;
}

.navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
}

.navbar .nav .dropdown-menu li {
    color: #999;
    font-weight: normal;
}

    .navbar .nav .dropdown-menu li a, .navbar .nav .dropdown-menu li a:hover, .navbar .nav .dropdown-menu li a:focus {
        padding: 8px 20px;
        line-height: normal;
    }

.navbar .navbar-form {
    border: none;
}

.navbar .dropdown-menu.form-wrapper {
    width: 280px;
    padding: 20px;
    left: auto;
    right: 0;
    font-size: 14px;
}

    .navbar .dropdown-menu.form-wrapper a {
        color: #33cabb;
        padding: 0 !important;
    }

        .navbar .dropdown-menu.form-wrapper a:hover {
            text-decoration: underline;
        }

.navbar .form-wrapper .hint-text {
    text-align: center;
    margin-bottom: 15px;
    font-size: 13px;
}

.navbar .form-wrapper .social-btn .btn, .navbar .form-wrapper .social-btn .btn:hover {
    color: #fff;
    margin: 0;
    padding: 0 !important;
    font-size: 13px;
    border: none;
    transition: all 0.4s;
    text-align: center;
    line-height: 34px;
    width: 47%;
    text-decoration: none;
}

.navbar .social-btn .btn-primary {
    background: #507cc0;
}

    .navbar .social-btn .btn-primary:hover {
        background: #4676bd;
    }

.navbar .social-btn .btn-info {
    background: #64ccf1;
}

    .navbar .social-btn .btn-info:hover {
        background: #4ec7ef;
    }

.navbar .social-btn .btn i {
    margin-right: 5px;
    font-size: 16px;
    position: relative;
    top: 2px;
}

.navbar .form-wrapper .form-footer {
    text-align: center;
    padding-top: 10px;
    font-size: 13px;
}

    .navbar .form-wrapper .form-footer a:hover {
        text-decoration: underline;
    }

.navbar .form-wrapper .checkbox-inline input {
    margin-top: 3px;
}

.or-seperator {
    margin-top: 32px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}

    .or-seperator b {
        color: #666;
        padding: 0 8px;
        width: 30px;
        height: 30px;
        font-size: 13px;
        text-align: center;
        line-height: 26px;
        background: #fff;
        display: inline-block;
        border: 1px solid #e0e0e0;
        border-radius: 50%;
        position: relative;
        top: -15px;
    }

.navbar .checkbox-inline {
    font-size: 13px;
}

.navbar .navbar-right .dropdown-toggle:after {
    display: none;
}

@media (min-width: 1200px) {
    .form-inline .input-group {
        width: 300px;
        margin-left: 30px;
    }
}

@media (max-width: 768px) {
    .navbar .dropdown-menu.form-wrapper {
        width: 100%;
        padding: 10px 15px;
        background: transparent;
        border: none;
    }

    .navbar .form-inline {
        display: block;
    }

    .navbar .input-group {
        width: 100%;
    }

    .navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
        display: block;
        border-radius: 4px;
    }
}
li > a:hover,
li > a:focus {
    color: #31bfb1 !important;
}
#signIn:hover,
#signIn:focus {
    color: #ffffff !important;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

/***** Footer *****/

.footer-top {
    padding: 20px 0 40px 0;
    text-align: left;
    padding-left: 70px;
}

    .footer-top h3 {
        padding-bottom: 10px;
    }

.footer-contact p {
    word-wrap: break-word;
}

.footer-contact i {
    padding-right: 10px;
    font-size: 18px;
    color: #ddd;
}

.footer-contact p a {
    border-bottom: 1px dashed #ccc;
}

.footer-links a {
    color: #888;
    border: 0;
}

    .footer-links a:hover, .footer-links a:focus {
        color: #555;
        margin-left: 3px;
    }

.footer-bottom {
    padding: 0 0 30px 0;
    
}

.footer-social a {
    margin: 0 10px;
    color: #bbb;
    border: 0;
}

    .footer-social a:hover, .footer-social a:focus {
        color: #31bfb1;
        border: 0;
    }
.container {
    margin-bottom: 25px;
}
.footer-social i {
    font-size: 24px;
    vertical-align: middle;
}
.navbar-footer {
    margin-bottom: 0px !important;
}

.section {
    position: relative;
    height: 100vh;
}

    .section .section-center {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

#booking {
    font-family: 'Montserrat', sans-serif;
   
    background-size: cover;
    background-position: center;
    font-weight: 100;
}

.booking-form {
    background: #fff;
    padding: 30px 20px 0px;
    border-radius: 4px;
    overflow: auto;
}

    .booking-form .form-group {
        position: relative;
        margin-bottom: 30px;
    }

    .booking-form .form-control {
        border: none;
        height: 50px;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: 12px;
        color: #090a0b;
        font-weight: 300;
        background: #f2f1f1;
        border-radius: 4px;
    }

        .booking-form .form-control::-webkit-input-placeholder {
            color: #b1b6bd;
        }

        .booking-form .form-control:-ms-input-placeholder {
            color: #b1b6bd;
        }

        .booking-form .form-control::placeholder {
            color: #b1b6bd;
        }

    .booking-form input[type="date"].form-control:invalid {
        color: #b1b6bd;
    }

    .booking-form select.form-control {
        -webkit-appearance: none;
        -moz-appearance: none;
    }

        .booking-form select.form-control + .select-arrow {
            position: absolute;
            right: 0px;
            top: 0px;
            width: 24px;
            text-align: center;
            pointer-events: none;
            height: 65px;
            line-height: 65px;
            color: #b1b6bd;
            font-size: 14px;
        }


            .booking-form select.form-control + .select-arrow:after {
                content: '\279C';
                display: block;
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
            }

    .booking-form .form-label {
        color: #31bfb1;
        display: block;
        font-weight: 600;
        height: 25px;
        line-height: 25px;
        font-size: 13px;
        position: relative;
        margin-top: 10px;
        text-transform: uppercase;
    }

        .booking-form .form-label:after {
            content: '';
            position: absolute;
            left: 10px;
            top: -10px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: #f2f1f1 transparent transparent transparent;
        }

    .booking-form .form-btn {
        margin-bottom: 30px;
    }

    .booking-form .submit-btn {
        background: #31bfb1;
        border: none;
        font-weight: 600;
        text-transform: uppercase;
        height: 50px;
        font-size: 13px;
        width: 100%;
        color: #fff;
        border-radius: 4px;
        display: block;
    }
.submit-btn:hover {
            background-color: #c66995;
        }

.card-img-top {
    max-height: 200px;
    min-height: 150px;
    object-fit: cover;
}


/* Card Styles */

.card {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page-link {
    color: #31bfb1;
}
.page-item.active .page-link {
    background-color: #31bfb1;
    border-color: #31bfb1;
    color: white;
}
.page-item.active .page-link:hover {
    color: white !important; 
}
.page-link:focus {
    box-shadow: none;
}

.btn-primary:active, .btn-primary:focus {
    background-color: #31bfb1 !important;
    border-color: #31bfb1 !important;
}
.price {
    color:#666666;
}
h1.cust-font {
    font-family: 'Great Vibes', cursive;
    color: #31bfb1;
    font-size: 80px;
    text-shadow: 2px 2px 0px rgb(85 85 85);
}

h1.hotel-title {
    color: #31bfb1;
    font-size: 40px;
    text-shadow: 2px 2px 0px rgb(85 85 85);
    font-style: italic;
}

h2.cust-font {
    font-family: 'Great Vibes', cursive;
    color: #31bfb1;
    font-size: 50px;
    text-shadow: 2px 2px 0px rgb(85 85 85);
}

@media (min-width: 576px) {
    .carousel-item img {
        height: 400px;
        max-height: 400px;
        min-height: 400px;
    }
}

.blog-grid {
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    border-radius: 5px;
    overflow: hidden;
    background: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
}

    .blog-grid .blog-img {
        position: relative;
    }

        .blog-grid .blog-img .date {
            position: absolute;
            background: #31bfb1;
            color: #ffffff;
            padding: 8px 15px;
            left: 10px;
            top: 10px;
            border-radius: 4px;
        }

            .blog-grid .blog-img .date span {
                font-size: 22px;
                display: block;
                line-height: 22px;
                font-weight: 700;
            }

            .blog-grid .blog-img .date label {
                font-size: 14px;
                margin: 0;
            }

    .blog-grid .blog-info {
        padding: 20px;
    }

        .blog-grid .blog-info h5 {
            font-size: 22px;
            font-weight: 700;
            margin: 0 0 10px;
        }

            .blog-grid .blog-info h5 a {
                color: #20247b;
            }

        .blog-grid .blog-info p {
            margin: 0;
        }

        .blog-grid .blog-info .btn-bar {
            margin-top: 20px;
        }


/* Blog Sidebar
-------------------*/
.blog-aside .widget {
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    border-radius: 5px;
    overflow: hidden;
    background: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.blog-aside .widget-body {
    padding: 15px;
}

.blog-aside .widget-title {
    padding: 15px;
    border-bottom: 1px solid #eee;
}

    .blog-aside .widget-title h3 {
        font-size: 20px;
        font-weight: 700;
        color: #31bfb1;
        margin: 0;
    }

.blog-aside .widget-author .media {
    margin-bottom: 15px;
}

.blog-aside .widget-author p {
    font-size: 16px;
    margin: 0;
}

.blog-aside .widget-author .avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.blog-aside .widget-author h6 {
    font-weight: 600;
    color: #20247b;
    font-size: 22px;
    margin: 0;
    padding-left: 20px;
}

.blog-aside .post-aside {
    margin-bottom: 15px;
}

    .blog-aside .post-aside .post-aside-title h5 {
        margin: 0;
    }

    .blog-aside .post-aside .post-aside-title a {
        font-size: 18px;
        color: #20247b;
        font-weight: 600;
    }

    .blog-aside .post-aside .post-aside-meta {
        padding-bottom: 10px;
    }

        .blog-aside .post-aside .post-aside-meta a {
            color: #6F8BA4;
            font-size: 12px;
            text-transform: uppercase;
            display: inline-block;
            margin-right: 10px;
        }

.blog-aside .latest-post-aside + .latest-post-aside {
    border-top: 1px solid #eee;
    padding-top: 15px;
    margin-top: 15px;
}

.blog-aside .latest-post-aside .lpa-right {
    width: 90px;
}

    .blog-aside .latest-post-aside .lpa-right img {
        border-radius: 3px;
    }

.blog-aside .latest-post-aside .lpa-left {
    padding-right: 15px;
}

.blog-aside .latest-post-aside .lpa-title h5 {
    margin: 0;
    font-size: 15px;
}

.blog-aside .latest-post-aside .lpa-title a {
    color: #20247b;
    font-weight: 600;
}

.blog-aside .latest-post-aside .lpa-meta a {
    color: #6F8BA4;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 10px;
}

.tag-cloud a {
    padding: 4px 15px;
    font-size: 13px;
    color: #ffffff;
    background: #20247b;
    border-radius: 3px;
    margin-right: 4px;
    margin-bottom: 4px;
}

    .tag-cloud a:hover {
        background: #31bfb1;
    }

.blog-single {
    padding-top: 30px;
    padding-bottom: 30px;
}

.article {
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    border-radius: 5px;
    overflow: hidden;
    background: #ffffff;
    padding: 15px;
    margin: 15px 0 30px;
}

    .article .article-title {
        padding: 15px 0 20px;
    }

        .article .article-title h6 {
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 20px;
        }

            .article .article-title h6 a {
                text-transform: uppercase;
                color: #31bfb1;
                border-bottom: 1px solid #31bfb1;
            }

        .article .article-title h2 {
            color: #20247b;
            font-weight: 600;
        }

        .article .article-title .media {
            padding-top: 15px;
            border-bottom: 1px dashed #ddd;
            padding-bottom: 20px;
        }

            .article .article-title .media .avatar {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                overflow: hidden;
            }

            .article .article-title .media .media-body {
                padding-left: 8px;
            }

                .article .article-title .media .media-body label {
                    font-weight: 600;
                    color: #31bfb1;
                    margin: 0;
                }

                .article .article-title .media .media-body span {
                    display: block;
                    font-size: 12px;
                }

    .article .article-content h1,
    .article .article-content h2,
    .article .article-content h3,
    .article .article-content h4,
    .article .article-content h5,
    .article .article-content h6 {
        color: #20247b;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .article .article-content blockquote {
        max-width: 600px;
        padding: 15px 0 30px 0;
        margin: 0;
    }

        .article .article-content blockquote p {
            font-size: 20px;
            font-weight: 500;
            color: #31bfb1;
            margin: 0;
        }

        .article .article-content blockquote .blockquote-footer {
            color: #20247b;
            font-size: 16px;
        }

            .article .article-content blockquote .blockquote-footer cite {
                font-weight: 600;
            }

    .article .tag-cloud {
        padding-top: 10px;
    }

.article-comment {
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    border-radius: 5px;
    overflow: hidden;
    background: #ffffff;
    padding: 20px;
}

    .article-comment h4 {
        color: #20247b;
        font-weight: 700;
        margin-bottom: 25px;
        font-size: 22px;
    }

img {
    max-width: 100%;
}

img {
    vertical-align: middle;
    border-style: none;
}

/* Contact Us
---------------------*/
.contact-name {
    margin-bottom: 30px;
}

    .contact-name h5 {
        font-size: 22px;
        color: #20247b;
        margin-bottom: 5px;
        font-weight: 600;
    }

    .contact-name p {
        font-size: 18px;
        margin: 0;
    }

.social-share a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    margin-right: 10px;
}

.social-share .dribbble {
    box-shadow: 0 8px 30px -4px rgba(234, 76, 137, 0.5);
    background-color: #ea4c89;
}

.social-share .behance {
    box-shadow: 0 8px 30px -4px rgba(0, 103, 255, 0.5);
    background-color: #0067ff;
}

.social-share .linkedin {
    box-shadow: 0 8px 30px -4px rgba(1, 119, 172, 0.5);
    background-color: #0177ac;
}

.contact-form .form-control {
    border: none;
    border-bottom: 1px solid #20247b;
    background: transparent;
    border-radius: 0;
    padding-left: 0;
    box-shadow: none !important;
}

    .contact-form .form-control:focus {
        border-bottom: 1px solid #31bfb1;
    }

    .contact-form .form-control.invalid {
        border-bottom: 1px solid #ff0000;
    }

.contact-form .send {
    margin-top: 20px;
}

@media (max-width: 767px) {
    .contact-form .send {
        margin-bottom: 20px;
    }
}

.section-title h2 {
    font-weight: 700;
    color: #20247b;
    font-size: 45px;
    margin: 0 0 15px;
    border-left: 5px solid #31bfb1;
    padding-left: 15px;
}

.section-title {
    padding-bottom: 45px;
}

.contact-form .send {
    margin-top: 20px;
}

.px-btn {
    padding: 0 50px 0 20px;
    line-height: 60px;
    position: relative;
    display: inline-block;
    color: #20247b;
    background: none;
    border: none;
}

    .px-btn:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 30px;
        background: transparent;
        border: 1px solid rgba(252, 83, 86, 0.6);
        border-right: 1px solid transparent;
        -moz-transition: ease all 0.35s;
        -o-transition: ease all 0.35s;
        -webkit-transition: ease all 0.35s;
        transition: ease all 0.35s;
        width: 60px;
        height: 60px;
    }

    .px-btn .arrow {
        width: 13px;
        height: 2px;
        background: currentColor;
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 25px;
    }

        .px-btn .arrow:after {
            width: 8px;
            height: 8px;
            border-right: 2px solid currentColor;
            border-top: 2px solid currentColor;
            content: "";
            position: absolute;
            top: -3px;
            right: 0;
            display: inline-block;
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
.small-pictures img {
    width: 166px;
    height: 110px;
    padding-top: 5px;
}

/* Style the Image Used to Trigger the Modal */
.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.btn-primary {
    background: #69c6ba;
    border: none;
    border-radius: 4px;
    outline: none;
}
.btn-primary:hover {
    background: #c66995;
}

.rating {
    display: flex;
    margin-top: -10px;
    flex-direction: row-reverse;
    margin-left: -4px;
    float: left
}

.rating > input {
    display: none
}

.rating > label {
    position: relative;
    width: 19px;
    font-size: 25px;
    color: #ff0000;
    cursor: pointer
}

.rating > label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
    opacity: 1 !important
}

.rating > input:checked ~ label:before {
    opacity: 1
}

.rating:hover > input:checked ~ label:before {
    opacity: 0.4
}
/*search box css start here*/
.search-sec {
    background: #1A4668;
    padding: 2rem;
}

.search-slt {
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
}

.wrn-btn {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
}

.button_class {
    position: absolute;
    bottom: 0;
    right: 0;
}
.button_left_class {
    position: absolute;
    bottom: 0;
    left: 0;
}
