@using BohoTours.Common
@using Microsoft.AspNetCore.Identity

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap" rel="stylesheet">


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index"><i class="fa fa-map" style="color: #31bfb1"></i> Boho<b>Tours</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Vacations <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Hotels" asp-action="All" asp-route-id="1">Hotels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Hotels" asp-action="Create" asp-route-id="1">Add Hotel</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Destinations
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Europe</a>
                            <a class="dropdown-item" href="#">Asia</a>
                            <a class="dropdown-item" href="#">South America</a>
                            <a class="dropdown-item" href="#">North America</a>
                        </div>
                    </li>
                </ul>
                <ul class="nav justify-content-end ">
                    @if (!this.User.Identity.IsAuthenticated)
                    {

                        <li>
                            <a data-toggle="dropdown" class="nav-link mt-1" href="#"><i class="fa fa-user"> Login</i></a>
                            <ul class="dropdown-menu form-wrapper">
                                <li>
                                    <form asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="/Home/Index" method="post">
                                        <p class="hint-text">Sign in with your social media account</p>
                                        <div class="form-group social-btn clearfix">
                                            <a href="#" class="btn btn-primary pull-left"><i class="fa fa-facebook"></i> Facebook</a>
                                            <a href="#" class="btn btn-info pull-right"><i class="fa fa-twitter"></i> Twitter</a>
                                        </div>
                                        <div class="or-seperator"><b>or</b></div>
                                        <div class="form-group">
                                            <input type="email" name="email" class="form-control" placeholder="Username" required="required">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password" class="form-control" placeholder="Password" required="required">
                                        </div>
                                        <input type="submit" class="btn btn-primary btn-block" value="Login">
                                        <div class="form-footer">
                                            <a href="#">Forgot Your password?</a>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" id="signIn" data-toggle="dropdown" class="btn btn-primary get-started-btn mt-1 mb-1"><i class="fa fa-id-card"> Sign up</i></a>
                            <ul class="dropdown-menu form-wrapper">
                                <li>
                                    <form asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="/Home/Index" method="post">
                                        <p class="hint-text">Fill in this form to create your account!</p>
                                        <div class="form-group">
                                            <input type="email" name="email" class="form-control" placeholder="Username" required="required">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password" class="form-control" placeholder="Password" required="required">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password" required="required">
                                        </div>
                                        <div class="form-group">
                                            <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms &amp; Conditions</a></label>
                                        </div>
                                        <input type="submit" class="btn btn-primary btn-block" value="Sign up">
                                    </form>
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle user-action"><img src="https://www.tutorialrepublic.com/examples/images/avatar/2.jpg" class="avatar" alt="Avatar"> @User.Identity.Name<b class="caret"></b></a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a href="#" class="dropdown-item" ><i class="fa fa-user-o"></i> Profile</a>
                                <a href="#" class="dropdown-item" ><i class="fa fa-calendar-o"></i> My bookings</a>
                                <a href="#" class="dropdown-item" ><i class="fa fa-calendar-o"></i> Clients bookings</a>
                                <a href="#" class="dropdown-item" ><i class="fa fa-sliders"></i> Settings</a>
                                <div class="dropdown-divider"></div>
                                <a href="javascript:{}" onclick="document.getElementById('logout').submit();return false;" class="dropdown-item" ><i class="material-icons">&#xE8AC;</i> Logout</a>
                                <form id="logout" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/" method="post">
                                </form>
                            </div>
                        </li>
                    }
                </ul>


            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
        <footer class="navbar navbar-default navbar-footer navbar-expand-lg navbar-light">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>About us</h4>
                            <p>
                                We are a young company always looking for new and creative ideas to help you with our products in your everyday work.
                            </p>
                            <p>© Company Inc.</p>
                        </div>
                        <div class="col-md-4">
                            <h4>Contact</h4>
                            <p><i class="fas fa-map-marker-alt" style="color: #31bfb1"></i> Via Rossini 10, 10136 Turin Italy</p>
                            <p><i class="fas fa-phone" style="color: #31bfb1"></i> Phone: (0039) 333 12 68 347</p>
                            <p><i class="fas fa-envelope" style="color: #31bfb1"></i> Email: <a href="mailto:hello@domain.com">hello@domain.com</a></p>
                            <p><i class="fab fa-skype" style="color: #31bfb1"></i> Skype: you_online</p>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col">
                                    <h4>Links</h4>
                                    <p><a href="#">Home</a></p>
                                    <p><a href="#">Features</a></p>
                                    <p><a href="#">How it works</a></p>
                                    <p><a href="#">Our clients</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="nav justify-content-center">
                    <li class="nav-item m-1">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="nav-item m-1">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="nav-item m-1">
                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                    </li>
                    <li class="nav-item m-1">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="nav-item m-1">
                        <a href="#"><i class="fab fa-pinterest"></i></a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/e3daaa3d52.js" crossorigin="anonymous"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
