@using BohoTours.Common
@{
    this.ViewData["Title"] = "Home Page";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="~/css/templatemo-style.css" />
<link rel="stylesheet" href="~/slick/slick.css" />
<link rel="stylesheet" href="~/slick/slick-theme.css" />


<div class="text-center m-2">
    <h1 class="cust-font">Your Journey Begins </h1>
    <p style="color: #5D6362; font-family: 'Gideon Roman', cursive; font-weight: bold ">It's better to see something once then to hear about its thousand times.</p>
</div>
<hr />
<div id="booking">
    <div class="booking-form">
        <form>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Enter Address, zip, city or airport">
                        <span class="form-label">Destination</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                        <span class="select-arrow"></span>
                        <span class="form-label">Guests</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <select class="form-control">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                        <span class="select-arrow"></span>
                        <span class="form-label">Children</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input class="form-control" type="date" required="">
                        <span class="form-label">Check In</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input class="form-control" type="date" required="">
                        <span class="form-label">Check out</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-btn">
                        <button class="submit-btn">Check availability</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<hr />
<div class="text-center">
    <h2 class="cust-font">Recommended Places</h2>
</div>
<hr />
<div class="tm-container-outer" id="tm-section-3">
    <div class="container">
        <ul class="nav nav-pills tm-tabs-links">
            <li class="tm-tab-link-li">
                <a href="#1a" data-toggle="tab" class="tm-tab-link">
                    <img src="img/north-america.png" alt="Image" class="img-fluid">
                    North America
                </a>
            </li>
            <li class="tm-tab-link-li">
                <a href="#2a" data-toggle="tab" class="tm-tab-link">
                    <img src="img/south-america.png" alt="Image" class="img-fluid">
                    South America
                </a>
            </li>
            <li class="tm-tab-link-li">
                <a href="#3a" data-toggle="tab" class="tm-tab-link">
                    <img src="img/europe.png" alt="Image" class="img-fluid">
                    Europe
                </a>
            </li>
            <li class="tm-tab-link-li">
                <a href="#4a" data-toggle="tab" class="tm-tab-link active">
                    <!-- Current Active Tab -->
                    <img src="img/asia.png" alt="Image" class="img-fluid">
                    Asia
                </a>
            </li>
        </ul>
    </div>
    <div class="tab-content clearfix">
        <!-- Tab 4 -->
        <div class="tab-pane fade show active" id="4a">
            <!-- Current Active Tab WITH "show active" classes in DIV tag -->
            <div class="tm-recommended-place-wrap">
                <div class="tm-recommended-place">
                    <img src="img/tm-img-06.jpg" alt="Image" class="img-fluid tm-recommended-img">
                    <div class="tm-recommended-description-box">
                        <h3 class="tm-recommended-title">Asia Resort Hotel</h3>
                        <p class="tm-text-highlight">Singapore</p>
                        <p class="tm-text-gray">Sed egestas, odio nec bibendum mattis, quam odio hendrerit risus, eu varius eros lacus sit amet lectus. Donec blandit luctus dictum...</p>
                    </div>
                    <a href="#" class="tm-recommended-price-box">
                        <p class="tm-recommended-price">$440</p>
                        <p class="tm-recommended-price-link">Continue Reading</p>
                    </a>
                </div>

                <div class="tm-recommended-place">
                    <img src="img/tm-img-07.jpg" alt="Image" class="img-fluid tm-recommended-img">
                    <div class="tm-recommended-description-box">
                        <h3 class="tm-recommended-title">Nullam eget est a nisl</h3>
                        <p class="tm-text-highlight">Yangon, Myanmar</p>
                        <p class="tm-text-gray">Sed egestas, odio nec bibendum mattis, quam odio hendrerit risus, eu varius eros lacus sit amet lectus. Donec blandit luctus dictum...</p>
                    </div>
                    <div id="preload-hover-img"></div>
                    <a href="#" class="tm-recommended-price-box">
                        <p class="tm-recommended-price">$450</p>
                        <p class="tm-recommended-price-link">Continue Reading</p>
                    </a>
                </div>

                <div class="tm-recommended-place">
                    <img src="img/tm-img-05.jpg" alt="Image" class="img-fluid tm-recommended-img">
                    <div class="tm-recommended-description-box">
                        <h3 class="tm-recommended-title">Proin interdum ullamcorper</h3>
                        <p class="tm-text-highlight">Bangkok, Thailand</p>
                        <p class="tm-text-gray">Sed egestas, odio nec bibendum mattis, quam odio hendrerit risus, eu varius eros lacus sit amet lectus. Donec blandit luctus dictum...</p>
                    </div>
                    <a href="#" class="tm-recommended-price-box">
                        <p class="tm-recommended-price">$460</p>
                        <p class="tm-recommended-price-link">Continue Reading</p>
                    </a>
                </div>

                <div class="tm-recommended-place">
                    <img src="img/tm-img-04.jpg" alt="Image" class="img-fluid tm-recommended-img">
                    <div class="tm-recommended-description-box">
                        <h3 class="tm-recommended-title">Lorem ipsum dolor sit</h3>
                        <p class="tm-text-highlight">Vientiane, Laos</p>
                        <p class="tm-text-gray">Sed egestas, odio nec bibendum mattis, quam odio hendrerit risus, eu varius eros lacus sit amet lectus. Donec blandit luctus dictum...</p>
                    </div>
                    <a href="#" class="tm-recommended-price-box">
                        <p class="tm-recommended-price">$470</p>
                        <p class="tm-recommended-price-link">Continue Reading</p>
                    </a>
                </div>
            </div>
        </div> <!-- tab-pane -->
    </div>
    <hr />
</div>
